<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="d-flex" [ngClass]="showModal ? 'backgroundDim' : ''">
  <app-sidebar-teacher></app-sidebar-teacher>
  <div class="d-flex flex-column mt-3 mx-4">
    <h2 class="mb-5">Verzoeken</h2>
    <hr>
    <div class="applicationsContainer d-flex gap-2 flex-wrap" *ngIf="applications.length > 0">
      <a *ngFor="let app of applications" id="{{app.application_id}}" (click)="triggerModal($event)" class="card text-decoration-none text-black border-2">
        <div class="card-body text-center" id="{{app.application_id}}">
          <h4 class="card-subtitle mb-2" id="{{app.application_id}}">{{app.student_firstname}} {{app.student_prefix}} {{app.student_lastname}}</h4>
          <h5 class="text-muted" id="{{app.application_id}}">{{app.project_name}}</h5>
          <h5 class="text-muted" id="{{app.application_id}}">{{app.field_name}}</h5>
        </div>
      </a>
    </div>
    <div *ngIf="applications.length <= 0">
      <span class="text-danger">Geen verzoeken.</span>
    </div>
  </div>
</div>
<div class="modal fade" [ngClass]="showModal ? 'show' : ''" *ngIf="singleApplication">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verzoek van {{singleApplication[0].student_firstname}} <span>{{singleApplication[0].student_prefix}}</span> {{singleApplication[0].student_lastname}}</h5>
        <button (click)="showModal = false" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body d-flex flex-column gap-2">
        <span *ngIf="singleApplication[0].finish == 1">{{singleApplication[0].student_firstname}} {{singleApplication[0].student_prefix}} {{singleApplication[0].student_lastname}} wilt zijn project afronden.</span>
        <span>Datum verzoek: {{singleApplication[0].application_date | date: 'dd-MM-yyyy'}}</span>
        <span>Vak: {{singleApplication[0].field_name}}</span>
        <span>Projectnaam: {{singleApplication[0].project_name}}</span>
      </div>
      <div class="modal-footer">
        <button (click)="denyApplication()" type="button" class="btn btn-danger deleteButton text-white">Weigeren</button>
        <button (click)="acceptApplication()" type="button" class="btn btn-secondary text-white">Accepteren</button>
      </div>
    </div>
  </div>
</div>
