.dropdownMenu{
  position: absolute;
  inset: auto auto 0px 0px;
  margin: 0px;
  transform: translate(0px, -34px);
}
.sidebarImage{
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.notificationContainer{
  position: relative;
}
//.notification{
//  position: absolute;
//  top: 0;
//  right: 0;
//}
