<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="singleProjectContainer mt-3 mx-4">
    <a routerLink="/home/totaal-projecten">Terug</a>
    <div class="singleProject mt-2 border border-danger border-3" style="width: 75vw">
      <div class="p-4 d-flex gap-4 flex-column" *ngFor="let project of singleProject">
        <span class="text-success" *ngIf="messages">{{messages.success}}</span>
        <span class="text-danger" *ngIf="messages">{{messages.error}}</span>
        <h2>{{project.project_name}}</h2>
        <p class="fs-4">Vak: {{project.field_name}}</p>
        <p class="fs-4">Te behalen uren: {{project.project_duration}} uur</p>
        <p class="fs-4">Moeilijkheidsgraad: {{project.project_difficulty}}
          <span class="text-success" *ngIf="project.project_difficulty > 1 && project.project_difficulty < 4">Makkelijk</span>
          <span class="text-warning" *ngIf="project.project_difficulty > 3 && project.project_difficulty < 6">Matig</span>
          <span class="text-warning" *ngIf="project.project_difficulty > 5 && project.project_difficulty < 9">Moeilijk</span>
          <span class="text-danger" *ngIf="project.project_difficulty > 8 && project.project_difficulty < 11">Heel moeilijk</span>
        </p>
        <p class="fs-4">Vakdocent(en): <span *ngFor="let teacher of teachers">{{teacher.teacher_firstname}} {{teacher.teacher_lastname}}, </span></p>
        <p class="projectDescription"><span class="fs-4">Project uitleg:</span>&nbsp; {{project.project_description}}</p>
        <div *ngIf="project.field_name == 'Eigenkeuze'">
          <label>Selecteer een vak waar je het project in wilt maken</label>
          <select class="form-select w-25" [(ngModel)]="field">
            <option value="">Selecteer hier een vak</option>
            <option value="{{field.field_id}}" *ngFor="let field of fields">{{field.field_name}}</option>
          </select>
        </div>
        <div *ngIf="projectSupplies.length > 0" class="d-flex flex-column gap-2">
            <span *ngFor="let supply of projectSupplies" class="singleItem d-flex flex-row gap-3 fs-3 justify-content-between">
              <div class="d-flex gap-3">
                <span><i class="fal fa-file"></i></span>
                <span>{{supply.supply_name}}</span>
              </div>
              <div class="d-flex flex-row gap-3">
                <a href="{{supply.supply_filename}}" target="_blank" download class="btn btn-secondary text-white">Downloaden</a>
              </div>
            </span>
        </div>

        <button *ngIf="!disableApplication" class="btn btn-secondary text-white w-25" (click)="submitApplication()">Aanvraag indienen.</button>
        <button *ngIf="disableApplication" disabled class="btn btn-secondary text-white w-25">Ingediend.</button>
      </div>
    </div>
  </div>
</div>
