<div class="d-flex">
  <app-sidebar-teacher></app-sidebar-teacher>
  <div class="singleProjectContainer mt-3 mx-4">
    <a routerLink="/projecten">Terug</a>
    <div class="singleProject mt-2 border border-danger border-3" style="width: 75vw">
      <form>
        <div class="p-4 d-flex gap-4 flex-column" *ngFor="let project of singleProject">
          <span class="text-success" *ngIf="messages">{{messages.message}}</span>
          <span class="text-danger" *ngIf="messages">{{messages.error}}</span>
          <div class="d-flex gap-2">
            <h2>Project naam:</h2><input name="projectName" [(ngModel)]="formProjectName" class="form-control w-25" type="text" value="{{project.project_name}}">
          </div>
          <div class="d-flex gap-2">
            <h2>Vak:</h2>
            <select [(ngModel)]="formProjectField" class="form-select w-25" name="projectField">
              <option *ngFor="let field of fields" value="{{field.field_id}}">{{field.field_name}}</option>
            </select>
          </div>
          <div class="d-flex gap-2">
            <h2>Te behalen uren:</h2><input class="form-control w-25" type="number" name="projectDuration" [(ngModel)]="formProjectDuration" value="{{project.project_duration}}">
          </div>
          <div class="d-flex gap-2">
            <h2>Moeilijkheidsgraad:</h2>
            <select class="form-select w-25" [(ngModel)]="formProjectDifficulity" value="{{project.project_difficulty}}" name="projectDifficulity">
              <option value="1">1 Makkelijk</option>
              <option value="2">2 Makkelijk</option>
              <option value="3">3 Makkelijk</option>
              <option value="4">4 Matig</option>
              <option value="5">5 Matig</option>
              <option value="6">6 Moeilijk</option>
              <option value="7">7 Moeilijk</option>
              <option value="8">8 Moeilijk</option>
              <option value="9">9 Heel moeilijk</option>
              <option value="10">10 Heel moeilijk</option>
            </select>
          </div>
          <div class="d-flex gap-2">
            <h2>Project uitleg:</h2>
            <textarea class="form-control w-25"  value="{{project.project_description}}" name="projectDescription">
            </textarea>
          </div>
          <p class="fs-3">Document(en): <a href="assets/images/default.png" download class="btn btn-secondary text-white">Download</a></p>
          <button class="btn btn-secondary text-white w-25" id="{{project.project_id}}" (click)="editProject($event)">Project aanpassen.</button>
          <button class="btn btn-danger deleteButton w-25 text-white" id="{{project.project_id}}" (click)="deleteProject($event)">Verwijder project</button>
        </div>
      </form>
    </div>
  </div>

</div>
