<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="d-flex">
  <app-sidebar-teacher></app-sidebar-teacher>
  <div class="singleProjectContainer mt-3 mx-4">
    <a routerLink="/projecten">Terug</a>
    <div class="singleProject mt-2 border border-danger border-3" style="width: 75vw">
      <form>
        <div class="p-4 d-flex gap-4 flex-column" *ngFor="let project of singleProject">
          <span class="text-success" *ngIf="messages">{{messages.message}}</span>
          <span class="text-danger" *ngIf="messages">{{messages.error}}</span>
          <div class="d-flex gap-2">
            <h3>Project naam:</h3><input name="projectName" [(ngModel)]="formProjectName" class="form-control w-25" type="text" value="{{project.project_name}}">
          </div>
          <div class="d-flex gap-2">
            <h3>Vak:</h3>
            <select [(ngModel)]="formProjectField" class="form-select w-25" name="projectField">
              <option *ngFor="let field of fields" value="{{field.field_id}}">{{field.field_name}}</option>
            </select>
          </div>
          <div class="d-flex gap-2">
            <h3>Te behalen uren:</h3><input class="form-control w-25" type="number" name="projectDuration" [(ngModel)]="formProjectDuration" value="{{project.project_duration}}">
          </div>
          <div class="d-flex gap-2">
            <h3>Moeilijkheidsgraad:</h3>
            <select class="form-select w-25" [(ngModel)]="formProjectDifficulity" value="{{project.project_difficulty}}" name="projectDifficulity">
              <option value="1">1 Makkelijk</option>
              <option value="2">2 Makkelijk</option>
              <option value="3">3 Makkelijk</option>
              <option value="4">4 Matig</option>
              <option value="5">5 Matig</option>
              <option value="6">6 Moeilijk</option>
              <option value="7">7 Moeilijk</option>
              <option value="8">8 Moeilijk</option>
              <option value="9">9 Heel moeilijk</option>
              <option value="10">10 Heel moeilijk</option>
            </select>
          </div>
          <div class="d-flex gap-2">
            <h3>Project uitleg:</h3>
            <textarea class="form-control w-25"  value="{{project.project_description}}" name="projectDescription">
            </textarea>
          </div>
          <div class="form-group">
            <label class="fs-3">bestanden toevoegen: </label>
            <input type="file" multiple class="form-control" (change)="uploadFile($event)" name="projectFiles">
          </div>
          <div *ngIf="projectSupplies.length > 0" class="d-flex flex-column gap-2">
            <span *ngFor="let supply of projectSupplies" class="singleItem d-flex flex-row gap-3 fs-3 justify-content-between">
              <div class="d-flex gap-3">
                <span><i class="fal fa-file"></i></span>
                <span>{{supply.supply_name}}</span>
              </div>
              <div class="d-flex flex-row gap-3">
                <a href="{{supply.supply_filename}}" target="_blank" download class="btn btn-secondary text-white">Downloaden</a>
                <button class="btn btn-danger text-white deleteButton" id="{{supply.supply_id}}" (click)="deleteSupply($event)">Verwijderen</button>
              </div>
            </span>
          </div>
          <button class="btn btn-secondary text-white w-25" (click)="uploadFiles()" *ngIf="selectedFiles.length > 0">Documenten uploaden</button>
          <button class="btn btn-secondary text-white w-25" id="{{project.project_id}}" (click)="editProject($event)">Project aanpassen</button>
          <button class="btn btn-danger deleteButton w-25 text-white" id="{{project.project_id}}" (click)="deleteProject($event)">Verwijder project</button>
        </div>
      </form>
    </div>
  </div>

</div>
