<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="d-flex" [ngClass]="showModal ? 'backgroundDim' : ''">
  <app-sidebar></app-sidebar>
  <div class="mt-3 mx-3 d-flex flex-column overflow-hidden">
    <h2>Mijn berichten</h2>
    <hr>
    <div class="messagesContainer">
      <div class="d-flex gap-3 table-responsive searchContainer">
        <input class="form-control w-75" type="text"  placeholder="Zoeken op {{selectedSearch}}" [(ngModel)]="searchName" (ngModelChange)="search()">
        <select class="form-select w-25" [(ngModel)]="selectedSearch">
          <option value="voornaam">Voornaam</option>
          <option value="achternaam">Achternaam</option>
          <option value="bericht">Bericht</option>
          <option value="datum">Datum</option>
        </select>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th><span>Verzender</span></th>
          <th><span>Bericht</span></th>
          <th><span>Datum</span></th>
          <th><span>#</span></th>
        </tr>
        </thead>
        <tbody *ngIf="messages.length > 0">
        <tr class="" *ngFor="let message of messages | paginate: {itemsPerPage: 7,currentPage: page}; let i = index">
          <td class="d-flex align-items-center gap-2">
            <div class="image" style="background-image: url({{message.teacher_image}})"></div>
            <span class="">{{message.teacher_firstname}} {{message.teacher_prefix}} {{message.teacher_lastname}}</span>
          </td>
          <td class="message">
            <span class="overflow-hidden" [ngClass]="message.read_message != 1 ? 'text-danger' : 'text-info'">{{message.message}}</span>
          </td>
          <td>{{message.message_created}}</td>
          <td class="">
            <div class="d-flex gap-4 text-info fs-5">
              <span *ngIf="message.read_message != 1" id="{{message.id}}" (click)="markRead($event)"><i id="{{message.id}}" class="fal fa-eye"></i></span>
              <span *ngIf="message.read_message == 1" id="{{message.id}}" (click)="markUnread($event)"><i id="{{message.id}}" class="fal fa-eye-slash"></i></span>
              <span *ngIf="message.rejected == 0" class="{{message.rejected}}" (click)="gotoProject($event)" id="{{message.project_id}}"><i id="{{message.project_id}}" class="fal fa-external-link"></i></span>
              <span (click)="openMessage($event)" id="{{message.id}}"><i id="{{message.id}}" class="fal fa-comment"></i></span>
              <span (click)="deleteMessage($event)" id="{{message.id}}"><i id="{{message.id}}" class="fal fa-trash"></i></span>
            </div>
          </td>
        </tr>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" [ngClass]="showModal ? 'show' : ''">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="singleMessage.length > 0">Bericht van {{this.singleMessage[0].teacher_firstname}} {{this.singleMessage[0].teacher_prefix}} {{this.singleMessage[0].teacher_lastname}}</h5>
        <button (click)="showModal = false" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body d-flex flex-column gap-4" *ngIf="singleMessage.length > 0">
        {{singleMessage[0].message}}
      </div>
    </div>
  </div>
</div>
