.show
{
  display: block !important;
}
.backgroundDim{
  filter: blur(8px);
}
th span{
  cursor: pointer;
}
td a{
  cursor: pointer;
}
.deleteButton{
  background: #BB2D3B;
}
.upload{
  display: none;
}
.uploadLabel{
  border: 1px dashed;
}
.uploadLabel:hover{
  cursor: pointer;
}
.projectModal{
}
