<div class="d-flex" [ngClass]="showModal ? 'backgroundDim' : ''">
  <app-sidebar-teacher></app-sidebar-teacher>
  <div class="mt-3 mx-4" style="width: 75vw">
    <h2>Projecten</h2>
    <hr>
    <a (click)="triggerModal()" class="btn btn-secondary text-white my-4"><i class="fal fa-folder-plus"></i>  Project toevoegen</a>

    <div class="projectsContainer">
      <div class="d-flex gap-3">
        <input class="form-control w-75" type="text"  placeholder="Zoeken op {{selectedSearch}}" [(ngModel)]="searchName" (ngModelChange)="search()">
        <select class="form-select w-25" [(ngModel)]="selectedSearch">
          <option value="project naam">Project naam</option>
          <option value="vak">Vak</option>
          <option value="aantal uren">Aantal uren</option>
          <option value="moeilijkheidsgraad">Moeilijkheidsgraad</option>
        </select>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th (click)="getAllProjectsName()"><span>Project naam <i class="far fa-sort"></i></span></th>
          <th (click)="getAllProjectsField()"><span>Vak <i class="far fa-sort"></i></span></th>
          <th (click)="getAllProjectsHours()"><span>Aantal uren <i class="far fa-sort"></i></span></th>
          <th (click)="getAllProjectsDifficulity()"><span>Moeilijkheidsgraad <i class="far fa-sort"></i></span></th>
          <th (click)="getAllProjectsNumber()"><span># <i class="far fa-sort"></i></span></th>
<!--          <th>Leraar(en)</th>-->
        </tr>
        </thead>
        <tbody *ngIf="projects.length > 0">
        <tr class="" *ngFor="let project of projects | paginate: {itemsPerPage: 10,currentPage: page}; let i = index">
          <td><a id="{{project.project_id}}" class="text-info" (click)="gotoProject($event)">{{project.project_name}}</a></td>
          <td>{{project.field_name}}</td>
          <td>{{project.project_duration}} uren</td>
          <td>{{project.project_difficulty}}
            <span class="text-success" *ngIf="project.project_difficulty >= 1 && project.project_difficulty < 4">Makkelijk</span>
            <span class="text-warning" *ngIf="project.project_difficulty > 3 && project.project_difficulty < 6">Matig</span>
            <span class="text-warning" *ngIf="project.project_difficulty > 5 && project.project_difficulty < 9">Moeilijk</span>
            <span class="text-danger" *ngIf="project.project_difficulty > 8 && project.project_difficulty < 11">Heel moeilijk</span>
          </td>
          <td>{{i}}</td>
<!--          <td *ngFor="let teacher of project.teachers">-->
<!--            <span>{{teacher[0].teacher_firstname}}</span>-->
<!--          </td>-->
        </tr>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </tbody>
      </table>
    </div>
    <div *ngIf="projects.length == 0">
      <span class="text-danger">Geen projecten.</span>
    </div>
  </div>
</div>

<div class="modal fade" [ngClass]="showModal ? 'show' : ''">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project toevoegen</h5>
        <button (click)="showModal = false" type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body d-flex flex-column gap-4">
        <form class="d-flex flex-column gap-2" [formGroup]="projectForm" enctype="multipart/form-data">
          <span *ngIf="error" class="text-danger" >{{error}}</span>
          <div class="form-group">
            <label>Project naam: </label>
            <input type="text" class="form-control" name="username" placeholder="Project naam" formControlName="projectName">
          </div>
          <div class="form-group">
            <label>Project uitleg: </label>
            <textarea placeholder="Project uitleg" formControlName="projectDescription" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label>Aantal uren: </label>
            <input type="number" class="form-control" name="username" placeholder="Aantal uren" formControlName="projectDuration">
          </div>
          <div class="form-group">
            <label>Project vak: </label>
            <select class="form-control" formControlName="projectField">
              <option value="">Selecteer een vak</option>
              <option *ngFor="let field of fields" value="{{field.field_id}}">{{field.field_name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Moeilijkheids graad: </label>
            <select class="form-control" formControlName="projectDifficulity">
              <option value="">Selecteer moeilijkheidsgraad</option>
              <option value="1">1 Makkelijk</option>
              <option value="2">2 Makkelijk</option>
              <option value="3">3 Makkelijk</option>
              <option value="4">4 Matig</option>
              <option value="5">5 Matig</option>
              <option value="6">6 Moeilijk</option>
              <option value="7">7 Moeilijk</option>
              <option value="8">8 Moeilijk</option>
              <option value="9">9 Heel moeilijk</option>
              <option value="10">10 Heel moeilijk</option>
            </select>
          </div>
          <div class="form-group">
            <label>Bestanden: </label>
            <input type="file" multiple class="form-control" (change)="uploadFile($event)" name="projectFiles">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="addNewProject()" type="button" class="btn btn-secondary text-white">Opslaan</button>
      </div>
    </div>
  </div>
</div>
