<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-secondary">Genies hour</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-secondary">Projecten</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link text-secondary">Home</a>
        </li>
      </ul>
    </div>
    <a href="#" class="me-2">Mijn profiel</a>
  </div>
</nav>
